In [1]:
import psycopg2
import pandas as pd
from config import config
from sqlalchemy import create_engine


# load and process raw data
df = pd.read_csv('combined_data.csv', encoding='utf8')
df.dropna(subset=['s_id', 'loudness'], inplace=True)
df_data = df[df['yt_duration'] > 0].copy()
df_data = df_data.convert_dtypes()
df_data['datePublished'] = pd.to_datetime(df_data['datePublished'])
df_data['s_release_date'] = pd.to_datetime(df_data['s_release_date'])
df_data.drop(columns=['Unnamed: 0'], inplace=True)
df_data.columns = df_data.columns.str.lower()
df_data.reset_index(inplace=True)

# set up SQl connection
params = config()
conn = psycopg2.connect(**params)
cur = conn.cursor()

engine = create_engine('postgresql://postgres:00000@localhost:5432/music')

# standard query function
def query_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

ModuleNotFoundError: No module named 'config'

In [57]:
audio_features = df_data[['popularity', 'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness', 
                          'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo', 
                          'duration_ms', 'time_signature']]
audio_features = audio_features.rename(columns={'duration_ms':'duration', 'key': 'music_key', 'mode': 'music_mode'})
audio_features.head()

,popularity,danceability,energy,music_key,loudness,music_mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration,time_signature
0,38,0.738,0.868,2,-4.988,1,0.0459,0.0115,0.832000,0.0831,0.1680,94.025,194000,4
1,33,0.472,0.981,2,-0.797,1,0.0547,0.0246,0.000275,0.2710,0.4160,150.029,243212,4
2,41,0.466,0.688,10,-9.102,0,0.0375,0.2650,0.395000,0.1160,0.0798,128.070,204803,3
3,35,0.658,0.534,9,-7.907,0,0.0426,0.0807,0.010300,0.0781,0.2580,120.011,344000,4
4,23,0.407,0.499,4,-9.044,0,0.0328,0.3190,0.288000,0.0350,0.2320,98.027,262232,4

In [59]:
audio_features.to_sql('audio_features', engine, index_label='featuresid', if_exists='append')

In [60]:
query_table("""SELECT * from audio_features""")

,featuresid,popularity,danceability,energy,music_key,loudness,music_mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration,time_signature
0,0,38.0,0.738,0.868,2,-4.988,1,0.0459,0.011500,0.832000,0.0831,0,94,194000.0,4
1,1,33.0,0.472,0.981,2,-0.797,1,0.0547,0.024600,0.000275,0.2710,0,150,243212.0,4
2,2,41.0,0.466,0.688,10,-9.102,0,0.0375,0.265000,0.395000,0.1160,0,128,204803.0,3
3,3,35.0,0.658,0.534,9,-7.907,0,0.0426,0.080700,0.010300,0.0781,0,120,344000.0,4
4,4,23.0,0.407,0.499,4,-9.044,0,0.0328,0.319000,0.288000,0.0350,0,98,262232.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6755,6755,1.0,0.665,0.726,0,-7.439,1,0.0459,0.005070,0.804000,0.1520,0,140,330857.0,4
6756,6756,3.0,0.201,0.668,5,-5.478,0,0.0510,0.000382,0.005400,0.1550,0,140,274286.0,4
6757,6757,1.0,0.565,0.920,0,-5.398,1,0.0781,0.000888,0.510000,0.2420,0,140,322286.0,4
6758,6758,38.0,0.846,0.564,5,-7.378,1,0.0804,0.041700,0.000000,0.1390,0,143,157947.0,4
6759,6759,9.0,0.721,0.908,7,-6.514,1,0.2160,0.000107,0.492000,0.2780,0,140,233143.0,4

In [74]:
channel_names = set(list(zip(df_data['channelname'], df_data['channelid'])))
channel_names = pd.DataFrame(channel_names, columns=['channelname', 'channelid'])
channel_names

         channelname                 channelid
0         TrapNation  UUa10nxShhzNrCE1o2ZOPztg
1         BassNation  UUCvVpbYRgYjMN7mG7qQN0Pg
2           TrapCity  UU65afEgL62PGFWXY7n6CUbA
3         UKFDubstep  UUfLFTP1uTuIizynWsZq2nkQ
4  BassMusicMovement  UUEFpNxeybzVwRbnYabQsXEg
5       DubRebellion  UUH3V-b6weBfTrDuyJgFioOw

In [80]:
channel_names.to_sql('channel_names', engine, index=False, if_exists='append')

In [81]:
query_table("""SELECT * from channel_names""")

                  channelid        channelname
0  UUa10nxShhzNrCE1o2ZOPztg         TrapNation
1  UUCvVpbYRgYjMN7mG7qQN0Pg         BassNation
2  UU65afEgL62PGFWXY7n6CUbA           TrapCity
3  UUfLFTP1uTuIizynWsZq2nkQ         UKFDubstep
4  UUEFpNxeybzVwRbnYabQsXEg  BassMusicMovement
5  UUH3V-b6weBfTrDuyJgFioOw       DubRebellion

In [47]:
youtube_videos = df_data[['videoid', 'channelid', 's_id', 'title', 'datepublished', 'yt_duration', 'yt_views', 'strippedtrackname']]
youtube_videos = youtube_videos.rename(columns={'yt_duration':'duration', 'yt_views': 'view_count'})

In [46]:
youtube_videos.to_sql('youtube_videos', engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "youtube_videos" violates foreign key constraint "youtube_videos_channelid_fkey"
DETAIL:  Key (channelid)=(UUa10nxShhzNrCE1o2ZOPztg) is not present in table "channel_names".

[SQL: INSERT INTO youtube_videos (videoid, channelid, s_id, title, datepublished, duration, view_count, strippedtrackname) VALUES (%(videoid)s, %(channelid)s, %(s_id)s, %(title)s, %(datepublished)s, %(duration)s, %(view_count)s, %(strippedtrackname)s)]
[parameters: ({'videoid': 'YN9R8IRXv5g', 'channelid': 'UUa10nxShhzNrCE1o2ZOPztg', 's_id': '1HNC0b3AN2jbMqN3FElzfX', 'title': 'TroyBoi - Mantra', 'datepublished': datetime.datetime(2021, 1, 25, 0, 0), 'duration': 194, 'view_count': 110164, 'strippedtrackname': 'Mantra'}, {'videoid': 'FelgrmPU-FE', 'channelid': 'UUa10nxShhzNrCE1o2ZOPztg', 's_id': '3zSwpAhbPIF4TonAOO35Pk', 'title': 'Juche - NFS', 'datepublished': datetime.datetime(2021, 1, 23, 0, 0), 'duration': 243, 'view_count': 145696, 'strippedtrackname': 'NFS'}, {'videoid': 'A29u2rOFlB4', 'channelid': 'UUa10nxShhzNrCE1o2ZOPztg', 's_id': '1F6VtyBAeSSh6FCBzT251f', 'title': 'Skeler - Akita', 'datepublished': datetime.datetime(2021, 1, 21, 0, 0), 'duration': 204, 'view_count': 191266, 'strippedtrackname': 'Akita'}, {'videoid': 'XpEuJY_mgVI', 'channelid': 'UUa10nxShhzNrCE1o2ZOPztg', 's_id': '1OAaiLYD5BbWTjTMPymaV5', 'title': 'Axel Thesleff - Unity', 'datepublished': datetime.datetime(2021, 1, 17, 0, 0), 'duration': 344, 'view_count': 314356, 'strippedtrackname': 'Unity'}, {'videoid': '_9WPomAe83A', 'channelid': 'UUa10nxShhzNrCE1o2ZOPztg', 's_id': '0iLbm3waWmcoJo5Pu4sYXi', 'title': 'Ezra - Ultraviolet', 'datepublished': datetime.datetime(2021, 1, 16, 0, 0), 'duration': 262, 'view_count': 387004, 'strippedtrackname': 'Ultraviolet'}, {'videoid': '5NoD3wz6de8', 'channelid': 'UUa10nxShhzNrCE1o2ZOPztg', 's_id': '4Qgr3o07k8NuGRRno8z9rO', 'title': 'TroyBoi - X2C', 'datepublished': datetime.datetime(2021, 1, 10, 0, 0), 'duration': 200, 'view_count': 484257, 'strippedtrackname': 'X2C'}, {'videoid': 'R3QRFGi79xk', 'channelid': 'UUa10nxShhzNrCE1o2ZOPztg', 's_id': '46TBhSEKO4HGKxnaumaDOl', 'title': 'DROELOE - Looking Back (Reimagined)', 'datepublished': datetime.datetime(2021, 1, 9, 0, 0), 'duration': 171, 'view_count': 171786, 'strippedtrackname': 'Looking Back  Reimagined '}, {'videoid': 'NoBPTqOxdz0', 'channelid': 'UUa10nxShhzNrCE1o2ZOPztg', 's_id': '6x0AOtecjYmJrIXoenPYez', 'title': 'Jordan Comolli - You & Me', 'datepublished': datetime.datetime(2021, 1, 8, 0, 0), 'duration': 173, 'view_count': 275895, 'strippedtrackname': 'You   Me'}  ... displaying 10 of 6760 total bound parameter sets ...  {'videoid': 'EWoYz0ppO9Y', 'channelid': 'UUH3V-b6weBfTrDuyJgFioOw', 's_id': '0XJPBR5sHB6dECJLwMBn4N', 'title': '1uP - The Zoo', 'datepublished': datetime.datetime(2012, 4, 10, 0, 0), 'duration': 123, 'view_count': 7674, 'strippedtrackname': 'The Zoo'}, {'videoid': 'o5EW7RCVD_k', 'channelid': 'UUH3V-b6weBfTrDuyJgFioOw', 's_id': '4PjppMGgJ04J4jHNVb8SVa', 'title': 'Trampa & Getter - Epidemic', 'datepublished': datetime.datetime(2012, 4, 5, 0, 0), 'duration': 107, 'view_count': 15187, 'strippedtrackname': 'Epidemic'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [28]:
conn.commit()

In [29]:
query_table("""SELECT * from youtube_videos""")

Empty DataFrame
Columns: [videoid, channelid, s_id, title, datepublished, duration, view_count, strippedtrackname]
Index: []

In [ ]:
-- All Tracks by Artist
SELECT sp.s_id, 
	   sp.s_release_date, 
	   sp.s_track_name, 
	   artistname, 
	   sp.featuresid, 
	   popularity, 
	   danceability, 
	   energy, 
	   music_key, 
	   loudness, 
	   music_mode, 
	   speechiness, 
	   acousticness, 
	   instrumentalness, 
	   liveness, 
	   valence, 
	   tempo, 
	   time_signature
FROM spotify_tracks sp
INNER JOIN tracks_artists ta
ON sp.s_id = ta.s_id
INNER JOIN artist_names an
ON ta.artistid = an.artistid
INNER JOIN audio_features af
ON sp.featuresid = af.featuresid
WHERE artistname IN ('RL Grime');

-- All Tracks by Channel
SELECT channelname,
	   datepublished,
	   view_count,
	   sp.s_id, 
	   sp.s_release_date, 
	   sp.s_track_name, 
	   artistname, 
	   sp.featuresid, 
	   popularity, 
	   danceability, 
	   energy, 
	   music_key, 
	   loudness, 
	   music_mode, 
	   speechiness, 
	   acousticness, 
	   instrumentalness, 
	   liveness, 
	   valence, 
	   tempo, 
	   time_signature
FROM youtube_videos yt
INNER JOIN channel_names cn
ON yt.channelid = cn.channelid
INNER JOIN spotify_tracks sp
ON yt.s_id = sp.s_id 
INNER JOIN tracks_artists ta
ON sp.s_id = ta.s_id
INNER JOIN artist_names an
ON ta.artistid = an.artistid
INNER JOIN audio_features af
ON sp.featuresid = af.featuresid
WHERE channelname IN ('TrapNation');

-- All Tracks by Spotify Release Year
SELECT sp.s_id, 
	   sp.s_release_date, 
	   sp.s_track_name, 
	   artistname, 
	   sp.featuresid, 
	   popularity, 
	   danceability, 
	   energy, 
	   music_key, 
	   loudness, 
	   music_mode, 
	   speechiness, 
	   acousticness, 
	   instrumentalness, 
	   liveness, 
	   valence, 
	   tempo, 
	   time_signature
FROM spotify_tracks sp
INNER JOIN tracks_artists ta
ON sp.s_id = ta.s_id
INNER JOIN artist_names an
ON ta.artistid = an.artistid
INNER JOIN audio_features af
ON sp.featuresid = af.featuresid
WHERE EXTRACT(YEAR FROM sp.s_release_date) = '2019';

-- All Tracks by Youtube Published Date
SELECT channelname,
	   datepublished,
	   view_count,
	   sp.s_id, 
	   sp.s_release_date, 
	   sp.s_track_name, 
	   artistname, 
	   sp.featuresid, 
	   popularity, 
	   danceability, 
	   energy, 
	   music_key, 
	   loudness, 
	   music_mode, 
	   speechiness, 
	   acousticness, 
	   instrumentalness, 
	   liveness, 
	   valence, 
	   tempo, 
	   time_signature
FROM youtube_videos yt
INNER JOIN channel_names cn
ON yt.channelid = cn.channelid
INNER JOIN spotify_tracks sp
ON yt.s_id = sp.s_id 
INNER JOIN tracks_artists ta
ON sp.s_id = ta.s_id
INNER JOIN artist_names an
ON ta.artistid = an.artistid
INNER JOIN audio_features af
ON sp.featuresid = af.featuresid
WHERE EXTRACT(YEAR FROM yt.datepublished) = '2019';